/* reset */
button {
  all: unset;
}

.content {
  display: flex;
  align-items: center;
}

.RadioGroupRoot {
  display: flex;
  flex-direction: column;

  //gap: 0.75rem;

  &[data-disabled] {
    opacity: 0.5;

    > *:hover {
      cursor: default;
    }

    .Label {
      cursor: default;
    }

    .RadioGroupItem {
      cursor: default;
    }
  }
}

.RadioGroupItem {
  cursor: pointer;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 100%;

  &[data-disabled]:hover {
    cursor: default;
    background-color: var(--color-dark-100);

    .Label {
      cursor: default;
    }
  }

  &[data-disabled]:hover {
    background: transparent;
  }

  &[data-disabled]:focus {
    background: transparent;
  }

  &[data-disabled]:active {
    background: transparent;
  }
}

.RadioGroupItem:hover {
  background-color: var(--color-dark-500);
}

.RadioGroupItem:focus-visible {
  background-color: var(--color-dark-700);
}

.RadioGroupItem:active {
  background-color: var(--color-accent-900);
}

.RadioGroupIndicatorEmptyCircle {
  width: 1rem;
  height: 1rem;
  margin-left: 0.6rem;

  background-color: transparent;
  border: 2px solid var(--color-accent-500);
  border-radius: 100%;
}

.RadioGroupIndicator {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

.RadioGroupIndicator::after {
  content: '';

  display: block;

  width: 7px;
  height: 7px;

  background-color: var(--color-accent-500);
  border-radius: 50%;
}

.Label {
  cursor: pointer;
  user-select: none;
  padding-left: 0.75rem;

  &[disabled] {
    cursor: default;
  }
}

.typography {
  color: var(--color-light-100) !important;
}
