@mixin tab-root {
  cursor: pointer;

  padding: 0;

  background-color: transparent;
  border-top: 1px solid var(--color-dark-100);
  border-right: 1px solid var(--color-dark-100);
  border-bottom: 1px solid var(--color-dark-100);
  outline: 2px solid transparent;

  &:disabled {
    background-color: var(--color-dark-700) !important;
    border-color: var(--color-dark-300) !important;
  }

  &:focus-visible {
    background-color: var(--color-accent-700) !important;
    border-color: var(--color-accent-700) !important;
    outline: 2px solid transparent !important;
  }

  &[data-state='active'] .typographyTrigger {
    &:hover:not(:disabled) {
      color: var(--color-light-100) !important;
    }
  }

  &:hover:not(:disabled) {
    background-color: var(--color-dark-300);

    .typographyTrigger {
      color: var(--color-light-900) !important;
    }
  }

  &[data-state='active'] {
    background-color: var(--color-accent-700);
    border-color: var(--color-accent-700);

    &:focus-visible {
      background-color: transparent;
      outline: 2px solid var(--color-info-700);
    }

    &:hover:not(:disabled) {
      background-color: var(--color-accent-700) !important;
      border-color: var(--color-accent-700) !important;
    }
  }
}

.root {
  all: unset;
}

.label {
  user-select: none;
  margin: 0 0 7px;
  color: var(--color-light-900) !important;

  &[aria-disabled='true'] {
    opacity: 0.5;
  }
}

.typographyTrigger {
  user-select: none;
  margin: 0;
  padding: 6px 24px;
  color: var(--color-light-100) !important;

  &[aria-disabled='true'] {
    cursor: default;
    opacity: 0.5;
  }
}

.firstTab {
  @include tab-root;

  border-left: 1px solid var(--color-dark-100);
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.tab {
  @include tab-root;

  border-left: none;
}

.lastTab {
  @include tab-root;

  border-left: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
