@mixin button {
  all: unset;

  cursor: pointer;
  user-select: none;

  display: inline-flex;
  flex-shrink: 0;
  gap: 0.625rem;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  padding: 0.375rem 1.75rem;

  font-size: 1rem;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  text-decoration: none;

  background-color: transparent;
  border: none;
  border-radius: 0.25rem;
  outline: 2px solid transparent;

  transition:
    var(--transition-duration-basic) background-color,
    var(--transition-duration-basic) color;

  &:focus-visible {
    outline: 2px solid var(--color-info-700);
  }

  &:disabled {
    cursor: default;
    opacity: 0.5;
  }

  &.fullWidth {
    justify-content: center;
    width: 100%;
  }
}

.primary,
.primaryWithIcon {
  @include button;

  color: var(--color-light-100);
  background: var(--color-accent-500);
  box-shadow: 0 4px 18px 0 rgb(140 97 255 / 35%);

  &:disabled {
    color: var(--color-light-900);
    background: var(--color-accent-900);
    box-shadow: 0 4px 18px 0 rgb(140 97 255 / 35%);
  }

  &:active:enabled {
    background: var(--color-accent-700) !important;
    box-shadow: 0 4px 18px 0 rgb(140 97 255 / 35%);
  }

  &:hover:enabled {
    background: var(--color-accent-300);
    box-shadow: 0 4px 18px 0 rgb(140 97 255 / 35%);
  }

  &:focus:enabled {
    background: var(--color-accent-500);
    box-shadow: 0 4px 18px 0 rgb(140 97 255 / 35%);
  }
}

.secondary {
  @include button;

  display: flex;
  align-self: stretch;

  height: 2.25rem;

  color: var(--color-light-100);

  background: var(--color-dark-300);
  box-shadow: 0 2px 10px 0 rgb(109 109 109 / 25%);

  &:disabled {
    color: var(--color-light-900);
    background: var(--color-dark-300);
    box-shadow: 0 2px 10px 0 rgb(109 109 109 / 25%);
  }

  &:active:enabled {
    background: var(--color-dark-500) !important;
    box-shadow: 0 2px 10px 0 rgb(109 109 109 / 25%);
  }

  &:hover:enabled {
    background: var(--color-dark-100);
    box-shadow: 0 2px 10px 0 rgb(109 109 109 / 25%);
  }

  &:focus-visible:enabled {
    background: var(--color-dark-300);
    box-shadow: 0 2px 10px 0 rgb(109 109 109 / 25%);
  }
}

.tertiary {
  @include button;

  display: inline-flex;
  flex-shrink: 0;

  height: 2.25rem;
  padding: 0.5rem 1.75rem;

  color: var(--color-accent-500);

  border: 2px solid var(--color-accent-500);

  &:disabled {
    color: var(--color-accent-900);
    border: 2px solid var(--color-accent-900);
  }

  &:active:enabled {
    background: var(--color-accent-900) !important;
    border: 2px solid var(--color-accent-700);
  }

  &:hover:enabled {
    background: var(--color-dark-500);
    border: 2px solid var(--color-accent-700);
  }

  &:focus-visible:enabled {
    outline: 2px solid var(--color-info-700);
  }
}

.link {
  @include button;

  align-items: flex-start;
  padding: 0.375rem 1rem;
  color: var(--color-accent-500);

  &:disabled {
    color: var(--color-accent-900);
  }

  &:active:enabled {
    color: var(--color-accent-700) !important;
  }

  &:hover:enabled {
    color: var(--color-accent-300);
  }

  &:focus-visible:enabled {
    border-radius: 5rem;
    outline: 2px solid var(--color-info-700);
  }
}

.fullWidth {
  width: 100%;
}

.typography {
  margin: 0;
  padding: 0;
  color: var(--color-light-100) !important;
}
